@font-face {
    font-family: "Neue-Light";
    src: url("/Fonts/NeueMontreal-Light.woff2") format("woff2");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue-Medium";
    src: url("/Fonts/NeueMontreal-Medium.woff2") format("woff2");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue-Regular";
    src: url("/Fonts/NeueMontreal-Regular.woff2") format("woff2");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue-Bold";
    src: url("/Fonts/NeueMontreal-Bold.woff2") format("woff2");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Eiko";
    src: url("/Fonts/PPEiko-Medium.woff2") format("woff2");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Eiko-Heavy";
    src: url("/Fonts/PPEiko-Heavy.woff2") format("woff2");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Eiko-Thin";
    src: url("/Fonts/PPEiko-Thin.woff2") format("woff2");
    font-weight: bold;
    font-display: swap;
}