// Fuentes personalizadas
@font-face {
  font-family: "Neue-Light";
  src: url("/public/Fonts/NeueMontreal-Light.woff2") format("woff2");
  font-weight: normal;

  font-display: swap;
}

@font-face {
  font-family: "Neue-Medium";
  src: url("/Fonts/NeueMontreal-Medium.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue-Regular";
  src: url("/Fonts/NeueMontreal-Regular.woff2") format("woff2");
  font-weight: normal;

  font-display: swap;
}

@font-face {
  font-family: "Neue-Bold";
  src: url("/Fonts/NeueMontreal-Bold.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eiko";
  src: url("/Fonts/PPEiko-Medium.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eiko-Heavy";
  src: url("/Fonts/PPEiko-Heavy.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eiko-Thin";
  src: url("/Fonts/PPEiko-Thin.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
}

// colores globales
$primary: #0A287E;
$secondary: #f3f3e9;
$white: #dadacd;
$info: rgb(159, 157, 157) ;
$border-radius: 1rem;

//global Fonts
$font-family-base: "Neue-Medium", sans-serif;
$font-size-base: 1.1rem;
$body-color: $primary;

$alt-font: "Eiko", sans-serif;
$alt-font-bold: "Eiko-Heavy", sans-serif;
$alt-font-thin: "Eiko-Thin", sans-serif;


$lead-font-size: 1rem;


$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-weight-bold: 900;

//headings

$headings-color: $primary;
$h1-font-size: 3.7rem;
$h2-font-size: 2.4rem;
$h3-font-size: 2rem;
$h3-font-weight: 100;
$h4-font-size: 1.3rem;

$display-font-size-1: 8rem;
$display-font-size-2: 7rem;
$display-font-size-3: 3rem;
$display-font-weight-1: 600;
$display-font-weight-2: 1000;
$display-font-weight-3: 800;

//botones

$btn-border-radius: 50px;
$btn-border-width: 1px;
$btn-padding-y: 1px;
$btn-font-family: "Neue-Regular";
$btn-hover-color: $secondary ;
$btn-outline-primary-hover-color: $white;

$btn-hover-border-color: $white;
$btn-hover-shadow: none;
$btn-padding-y-sm: 0.7px;
$btn-padding-x-sm: 7px;
$btn-font-size-sm: 0.8rem;
$btn-border-radius-sm: 20px;
$btn-border-width-sm: 0px;
$btn-active-box-shadow:none ;
$btn-focus-box-shadow:none;
$btn-box-shadow: none;
$btn-active-border-shade-amount:  0%;
$btn-active-border-tint-amount:   0%;


$gradient: linear-gradient(180deg, rgba(transparent, 0) 66%, rgba($secondary, .99));








// Inputs

$input-font-size: 0.9rem;
$input-bg: $secondary ;
$input-padding-y: 0.61rem;
$input-border-radius: 30px;
$input-border-color: none;
$input-focus-box-shadow: none;
$form-text-font-size: 0.5rem ;
$input-placeholder-color: gray;

// main Navbar

// $nav-link-font-size: ;
$navbar-light-toggler-border-color: none;
// $navbar-light-hover-color: $primary;
$navbar-nav-link-padding-x: 1.3rem;

$navbar-toggler-transition: none;
$navbar-toggler-focus-width: 0px;
$navbar-toggler-font-size: 2.5rem;


// global links

$link-decoration: none;
$link-hover-decoration: none;
// $link-hover-color:$primary;